
.header {
    background-color: white;
    padding:20px 10%;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
  &-top {
    display: flex;
    justify-content: space-between;   
    height:40px;
    > a , img {
      height:100%;
      margin-right:10px;
      text-decoration: none;
    }
    > form {
      height:100%; width:100%;
      background-color: red;
      display: flex;
      > input[type="text"] {
        width:100%;
        padding:10px;
      }
      > button{
        width:40px;
        background-color: lightblue;
      }
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    padding:20px 10px 0;
    & a {
      color:black;
      padding:10px;
      display: block;
      text-decoration: none;
      &:hover {
        color:orange;
      }
    }
    > div {
      display: flex;
    }
    &-left{
      &-category {
        position: relative;
        &-field {
          position: absolute;
          display:none;
          width:800px;
          &-nav {
            background-color:white;
            > p {
              border:1px solid whitesmoke;
            }
          }
        }
      }
    }
  }   
}